.product-img {
	width: 300px;
	height: 300px;
	margin: 50px;
}

.product-info {
	display: inline-block;
}


.color-box {
	width: 50px;
	height: 50px;
	margin-left: 10px;
	display: inline-block;
}

.disabledBtn {
	background-color: skyblue;
}

.cart {
	margin-right: 25px;
	float: right;
	border: 1px solid black;
	padding: 5px 20px;
	padding-top: 15px;
	position: -webkit-sticky;
 	position: sticky;
 	top: 25px;
}

.review-form {
	margin-left: 20px;
}